.header {
    position: fixed; /* 上部に固定 */
    top: 0;
    left: 0;
    width: 100%; /* 画面幅に合わせる */
    background-color: #ffffff;
    padding: 20px 0;
    height: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    border: 1px solid #8b7969;
}

.header__logo {
    text-decoration: none;
    color: #8b7969;
}
